<title>MyWriter</title>
<link rel="stylesheet" type="text/css" href="../static/writer/style.css">
<link rel="icon" href="../static/writer/res/favicon.png" type="image/png" sizes="32x32">
<center>
    <form action="{% url 'showWritings' %}" method="post">
        {% csrf_token %}
    <div id="login">
     <img src="../static/writer/res/logo.png">
     <div id="user">
        <img src="../static/writer/res/user.png">
        <input name="author" type="text">
     </div>
     <div id="password">
        <img src="../static/writer/res/password.png">
        <input name="password" type="password">
        <input type="submit" value="Enter">
     </div>
     </div>
    </form>
 </center>
